# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# postcode data needed to create json mapping
data/postcodes.json
data/postcodes.csv

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

playwright-report/index.html
playwright-report/data/00bb2030987fbc8af27568411e423f553ece36a7.zip
playwright-report/data/2c6587120cc33669f9c23b20cb4db51fcbaabf9a.zip
playwright-report/data/3c10feb93e921ae51aa948d9f70980e7cb363008.zip
playwright-report/data/3e51a416e017a3bb27b259a8c75ee87bee09ae3d.zip
playwright-report/data/3e444ea6f98f2125c7a016a7a3d73dbf12720a76.zip
playwright-report/data/4fb7cb70306f958adb988cb21d1c6d7a828e07c1.zip
playwright-report/data/5fc28353e4db093aead52412c9d67afe0f9425d1.zip
playwright-report/data/6b13f223ff4c70ac7a3d847fe315999ee5e97468.zip
playwright-report/data/26bb7ebec5fd1b437463973e65da72448a240cd8.zip
playwright-report/data/26d300a505d83aae05eed1309d8e19b26511aea2.zip
playwright-report/data/033fde34856b2a08c441af31352cb1fbf8b29abe.zip
playwright-report/data/39e85d14a87e65c01af7be34fea8c9a9a3abbd60.zip
playwright-report/data/54d97c035131a974159cf75efbaec21e1a30313d.zip
playwright-report/data/84f9577c2ddfca287162f180f7798da8e5fecfd8.zip
playwright-report/data/136fd51b8f7e061d805d3dfc34a8f36a870c1221.zip
playwright-report/data/0291bdd17ab831601dd12c6456f17e77c0f3ae5b.zip
playwright-report/data/423f3438944b35384e285d1891774471dc5a1f96.zip
playwright-report/data/7658c568e2867726ff426e678ceb6d914301fe25.zip
playwright-report/data/064017f10cc936fb78e363d7cb4b2c6ab5088569.zip
playwright-report/data/837165f81afdfa8389b3bd351d82dc5afd957b3c.zip
playwright-report/data/adca70303e4e34f14961a553c81c7adc91761cdf.zip
playwright-report/data/b2a8eb4f42a7268d898284c0769e42c5f24efdc0.zip
playwright-report/data/b26cb5f3e96bd9b42ecfd003860f8b2763e8da91.zip
playwright-report/data/b391ed9d6d7ec9bae0183e9616dd5c37f34c7137.zip
playwright-report/data/b668be17107fb3c9bbbc37f7e818776ef053f3f8.zip
playwright-report/data/be7a1bf36c621c31e8ca140582d0c79516799606.zip
playwright-report/data/bf7f4c602b58d8bc7ddc544e3dad029aa663f5f8.zip
playwright-report/data/c632298144d7a54237da3f1682d84d6632c03a96.zip
playwright-report/data/c67739093924130015b5a5da18872c3712371783.zip
playwright-report/data/d5d0056df9d72d821213ad9206a085e679c64144.zip
playwright-report/data/d8def54ebe3e15bc01aff28908e8b8cd59db75e4.zip
playwright-report/data/e138ef749d56c86f9f407f283225d24e2c2168d1.zip
test-results/messaging-components-chat--038f7-s-empty-chat-body-initially-chromium/trace.zip
test-results/messaging-components-chat--38613-rom-the-list-using-keyboard-chromium/trace.zip
test-results/messaging-components-chat--4e8a8-ator-when-support-is-typing-chromium/trace.zip
test-results/messaging-components-chat--5348b-s-messages-in-correct-order-chromium/trace.zip
test-results/messaging-components-chat--7e950-with-agent-mode-placeholder-chromium/trace.zip
test-results/messaging-components-chat--82ccf-ders-basic-input-components-chromium/trace.zip
test-results/messaging-components-chat--8cd21-ent-message-types-correctly-chromium/trace.zip
test-results/messaging-components-chat--b2965-om-when-new-messages-arrive-chromium/trace.zip
test-results/messaging-components-chat--c909e-ect-a-mention-from-the-list-chromium/trace.zip
test-results/messaging-components-chat--d7cc9-or-handles-basic-text-input-chromium/trace.zip
test-results/messaging-components-chat--e4806-th-support-mode-placeholder-chromium/trace.zip
test-results/messaging-components-chat--e5836-ays-correct-mention-options-chromium/trace.zip
test-results/messaging-components-chat--f5708--mention-list-when-is-typed-chromium/trace.zip
test-results/messaging-components-chat--fab77-r-when-support-stops-typing-chromium/trace.zip
test-results/messaging-components-messa-08c34-s-message-content-correctly-chromium/trace.zip
test-results/messaging-components-messa-0e662-ders-user-message-correctly-chromium/trace.zip
test-results/messaging-components-messa-52bec-rs-system-message-correctly-chromium/trace.zip
test-results/messaging-components-messa-7aeb4-nders-bot-message-correctly-chromium/trace.zip
test-results/messaging-components-messa-a194b-tains-correct-message-order-chromium/trace.zip
test-results/messaging-components-messa-e6d4d-indicator-for-user-messages-chromium/trace.zip
test-results/messaging-components-mode--0e18f-when-support-tab-is-clicked-chromium/trace.zip
test-results/messaging-components-mode--12c99-ts-in-agent-mode-by-default-chromium/trace.zip
test-results/messaging-components-mode--19e35-t-syncs-with-URL-parameters-chromium/trace.zip
test-results/messaging-components-mode--f285b-nent-renders-both-mode-tabs-chromium/trace.zip
test-results/messaging-components-pane--0b78e-handles-keyboard-navigation-chromium/trace.zip
test-results/messaging-components-pane--1f352-mponent-renders-when-opened-chromium/trace.zip
test-results/messaging-components-pane--78b0f-andles-resize-functionality-chromium/trace.zip
test-results/messaging-components-pane--83310-ponent-handles-close-action-chromium/trace.zip
test-results/messaging-components-pane--8ecc0-to-global-keyboard-shortcut-chromium/trace.zip
test-results/messaging-components-pane--95637-cket-connection-when-opened-chromium/trace.zip
test-results/messaging-components-pane--96221-ponent-state-through-resize-chromium/trace.zip
test-results/messaging-features-sending-40af0-essage-and-displays-in-chat-chromium/trace.zip
