# NOTE: Consider using bunfig.toml for scopes
public-hoist-pattern[]=*@heroui-com/*
package-lock=false

@monetic-labs:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${MONETIC_GITHUB_TOKEN}
